bin/
build/
*.log

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
# cmake - JetBrains CLion
cmake-build-debug*
cmake-build-release*
# ctest
Testing/

# binaries in examples
examples/ptkl
examples/ptklc
examples/hello
examples/hello_module
examples/test_fib
