[submodule "src/fork/quickjs"]
	path = src/fork/quickjs
	url = git@github.com:subfuzion/quickjs.git
[submodule "src/libqjs/quickjs"]
	path = src/libqjs/quickjs
	url = git@github.com:subfuzion/quickjs.git
